extends layout

block content
    br
    h1 #{name}
    form(method='POST', action='/orders/add/')
        #form-group
            label Name:
            input.form-control(name='name', type='text')
        #form-group
            label Contact:
            input.form-control(name='contact', type='text')
        #form-group
            label Order List:
            textarea.form-control(name='product')
        br
        input.btn.btn-primary(type='submit', value='SUBMIT')
